# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Minesweeper (Java)/*
!/Minesweeper (Java)/task/
/Minesweeper (Java)/task/*
!/Minesweeper (Java)/task/src

# Project exclude paths
/Topics/Stack/Getting the max element of a stack/out/
/Topics/Stack/Getting the max element of a stack/out/production/classes/
/Topics/Stack/Which brackets are balanced/out/
/Topics/Stack/Which brackets are balanced/out/production/classes/